body{
    background-color: white;
    font-size: 36px !important;;
}
.header{
    font-family: cursive;
    color: white;
    background-color: #00688B;
    text-align: center;
    font-size: 60px !important;
}
.col-lg-12{
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: large;
    width: 100%;
    text-transform: capitalize;
}
.col-lg-4{
    text-align: center;
}
.col-lg-10{
    margin-left: 11%;
}
p{
    font-family: Comic Sans MS;
    font-weight: bold;
    text-align: center;
}
.button-container{
    margin: auto;
    display: block;
}
.button{
    color:white;
    font-weight: bold;
}
.square {
    width: 30%;
    height: 30%;
    float: left;
    background: purple;
    padding-bottom: 1.66%;
    margin: 5px;
}

.container{
    margin: 0 auto;
    width: 600px;
}
.square-container{
    text-align: center;
}
.message{
    text-align: center;
}
.border{
    border: solid;
    border-color: grey;
    border-width: 0.5px;
}
.footer-container{
    background-color: #EDEDED;
}
.foot{
    font-family: 'Acme', sans-serif;
}

.hide{
    display: none;
}

@media screen and (min-width: 768px) {
    .header {
        margin-top: 0px;
    }
    .square {
        height: 20%;
    }
}
