body{
    background-color: white;
}
.header{
    color: white;
    background-color: #00688B;
    text-align: center;
}
.head{
    color: white;
    background-color: #00688B;
    text-align: center;
    font-size: smaller;
    width: 100%
}
.btn{
    align-content:center;
}

.square {
    width: 30%;
    height: 30%;
    float: left;
    background: purple;
    padding-bottom: 1.66%;
    margin: 5px;
}

.container{
    margin: 0 auto;
    width: 600px;
}
