html, body, .container{
    font-family: 'Ubuntu';
}
a:hover{
    text-decoration: none;
    color: #444;
}
.hidden{
    display: none !important;
}
.centered{
    display: flex;
    align-items: center;
    justify-items: center;
}
.margin-auto{
    margin: auto;
}
.square{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.align-center{
    text-align: center !important;
    align-items: center;
    justify-content: center;
}
.add-shadow{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.no-border-radius{
    border: none !important;
    border-radius: 0px !important;
}
.g-lawrencium{
    color: azure;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g-midnight-grey{
    color: #fff;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.g-blue{
    color: #fff;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.button{
    color:white;
    font-weight: bold;
}
.bg-222{
    background-color: #222;
}
.bg-pink{
    background-color: pink;
}
@media (min-width: 577px){
    .container{
        margin-top: 4rem;
        margin-bottom: 4rem;
        /* border-radius: 24px !important; */
    }
}

/* css circular lebels */
.label-container{
    width:75px;
    height: 75px;
    margin: 60px auto;
}
.red-label{
    background-color:#ff0000;
}
.green-label{
    background-color:green;
}
.blue-label{
    background-color:#0000ff;
}
.prec{
    top: 15px;
    position: relative;
    font-size: 20px;
}

.circle{
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #E6F4F7;

}

#c-red{
    background-color: #ffcccc;
}
#c-green{
    background-color: #ccffcc;
}
#c-blue{
    background-color: #ccccff;
}

.active-border{
    position: relative;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;

}

.float-container{
    position:fixed;
    /* width:200px; */
    /* height:40px; */
    bottom:20px;
    right:20px;
    /* background-color:#0C9; */
    color:#FFF;
    /* border-radius:50px; */
    text-align:center;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 1000;
}

.my-float{
    margin-top: 30px;
}

.pointer{
  cursor: pointer;
}

*{
    outline: 1px red solid;
}
#gpt-ad-large #gpt-ad-small{
    display: none;
}